body{
    background-image: url("../img/background.png");
    background-size: 100% 110vh;
    font-family: "Montserrat";
}

.main_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: 20px;
    color: white;
}
.main_block h1{
    font-size: 70px;
    font-weight: bold;
}
.main_block p{
    font-size: 25px;
}
.bg-body-tertiary {
    background-color: #0A0326 !important;
}
.navbar-brand{
    color: white;
    font-weight: bold;
    border-bottom: 2px greenyellow solid;
}
.navbar-brand:hover{
    color: white;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: rgb(183, 181, 181);
}

